.aboutPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    /* background-color: #fafffe; */
    /* font-family: 'Luxurious Roman', 'Satisfy' */
    /* font-family: 'Cantarell' */
    /* font-family: 'PT Serif'; */
}

.aboutContainer {
    display: flex;
    flex-direction: row;
}

.sideNav {
    position: relative;
    flex: 1;
    background-color: transparent;
    margin: 0 1% 0 2%;
}

.sideNavGroup {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 3% 0;
    width: 11.8%;
    border: solid hsl(216, 60%, 35%) 0.1rem;
    border-radius: 1rem;
    background-color: white;
}

.sideNavTop {
    padding: 3%;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    background-color: #244f8f;
    color: white;
    font-size: 2.5rem;
}

.sideNavLink {
    padding: 5% 0;
    border-top: solid #244f8f 0.1rem;
    color: black;
    font-size: 1.6rem;
    text-decoration: none;
}

.aboutContent {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0 2% 0 1%;
    /* background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 50%, rgba(250,250,250,1) 100%); */
    /* background-image: url("../../assets/images/off-white.jpg"); */
    /* background-color: orange; */
}

.sectionTitle {
    font-size: 2.5rem;
}

.sectionContentOurStory {
    flex: 1;
    margin-top: 7%; 
    padding: 2rem;
    font-size: 1.5rem;
    /* border: solid black 1px; */
}

.sectionImageOurStory {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    /* border: solid black 1px; */
    /* background: gray; */
}

.ourStoryImage {
    /* flex: 1; */
    width: 30vw;
    height: auto;
}

.sectionContentCollection {
    flex: 1;
    padding: 2rem;
    font-size: 1.5rem;
    /* border: solid black 1px;    */
}

.sectionImageCollection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    /* border: solid black 1px; */
    /* background: gray; */
}

.ourCollectionImage {
    /* flex: 1; */
    width: 50vw;
}

.sectionContentSuggest {
    flex: 1;
    padding: 2rem;
    font-size: 1.5rem;
}

.sectionImageSuggest {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: start;
    /* border: solid black 1px; */
    /* background: gray; */
}

.link {
    float: right;
    /* display: flex; */
    /* justify-content: flex-end; */
    margin-right: 15%;
    text-decoration: none;
    /* border: solid black; */
    /* color: navy; */
}

.imageBlock {
    flex: 1;
    display: flex;
    /* height: 58vh; */
}

.imageBlockSection {
    flex: 1;
    display: block;
    /* border: solid black; */
    /* width: 40vw; */
}

.suggestABookImage {
    /* margin: auto; */
    display: block;
    /* height: 50%; */
    /* width: 20vw; */
    width: 25vw;
}

.suggestABookImageCenter {
    margin: 0;
    /* height: 43.5vh; */
    height: 100%;
    width: 20vw;
}

.sectionTitleAttribution {
    font-family: 'PT Serif';
    font-size: 2.5rem;
    cursor: pointer;
}

.sectionContentAttribution {
    /* flex: 1; */
    /* border: solid black; */
    text-align: center;
    font-size: 1.5rem;
}

.attributionLink:visited {
    color: #0000EE;
    text-decoration: none;
}

@media (max-width: 999px) {
    .sideNav {
        display: none;
    }
    .sideNavGroup {
        display: none;
    }
}

@media (max-width: 699px) {
    .sectionContentOurStory {
        margin-top: 0;
    }
    .sectionImageCollection {
        flex: 0.75;
    }
}