.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loginContent {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.link {
    text-decoration: none;
}

.errorMessage {
    color: red;
    font-size: 1.3rem;
}

.signUpContent {
    margin: 2% 0;
}

.signUpText {
    font-size: 1.4rem;
}

@media (max-width: 499px) {
    .loginPage {
        justify-content: flex-start;
    }
}