.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.link {
    text-decoration: none;
}

.passwordErrorMessage {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-bottom: 1.9rem;
    margin-left: 12%;
    width: 70%;
    color: red;
    text-align: left;
    font-size: 1.6rem;
}

.passwordNoErrorMessage {
    margin-top: -2rem;
    margin-left: 15%;
    margin-bottom: 3.7rem;
}

.signUpContent {
    margin-bottom: 5%;    
}

.signUpText {
    font-size: 1.4rem;
}