.orderHistory {
    margin: 1% 0;
    justify-content: center;
    align-items: center;
}

.orderImage {
    flex: 1;
    width: 15rem;
}

.bookCover {
    flex: 1;
    width: 100%;
}

.orderIdLabel {
    font-size: 1.6rem;
    font-weight: 700;
}

.orderId {
    flex: 1;
    margin-left: 5%;
    font-size: 1.6rem;
}

.orderBookInfo {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookInfo {
    margin: 10% 0;
}

.bookTitle {
    margin: 2% 0;
    font-size: 2.2rem;
    font-weight: 600;
}

.bookAuthor {
    margin: 2% 0;
    font-size: 1.6rem;
}

.bookQtyLabel {
    font-size: 1.4rem;
    font-weight: 500;
}

.bookQty {
    font-size: 1.4rem;
}

.orderDetails {
    flex: 1;
    font-size: 1.6rem;
    font-weight: 600;
}

.orderDate {
    flex: 1;
    margin: 30% 0;
}

.orderTotal {
    flex: 1;
    margin: 30% 0;
}

@media (max-width: 499px) {
    .orderImage {
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
    }
}