.container {
    /* position: relative; */
    display: flex;
    /* overflow: hidden; */
    min-height: 100vh;
    width: 100%;
}

/* @media (max-width: 450px) {
    .container {
        height: 70vh;
    }
} */

/* .div {
    position: relative;
    display: flex;
    height: 100%;
    width: 100vw;
} */

.imageOne {
    /* height: 100vh; */
    /* width: 100vw; */
    background-image: url("../../assets/images/diette-henderson-egmEb0HgtgU-unsplash.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
    background-size: cover;
    /* height: 100vh; */
    /* min-height: 100%; */
    /* width: 100vw; */
    /* max-width: 100%; */
    overflow-x: hidden;
    /* object-fit: cover; */
    /* object-position: 70%; */
}

.imageTwo {
    background-image: url("../../assets/images/greenlights-slider.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
}

.imageThree {
    background-image: url("../../assets/images/alexei-maridashvili-gqk2hoqGAL0-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: cover; */
    height: 100vh;
    width: 100vw;
    /* max-width: 100%; */
    overflow-x: hidden;
}

@media (max-width: 960px) {
    .imageOne {
        background-size: cover;
        background-position: 40%;
    }
    .imageTwo {
        background-size: cover;
    /* background-position: 5%; */
    }
    .imageThree {
        background-size: cover;
    /* background-position: 5%; */
    }
}

@media (max-width: 450px) {
    .imageTwo {
        background-position: 54%;
    }
    .imageThree {
        background-position: 65%;
    }
}

.sliderOne {
    z-index: -1;
    /* flex: 1; */
    /* margin-top: -5%; */
    min-height: 100vh;
    /* height: 150vh; */
    width: 100vw;
    /* width: 100vw; */
    object-fit: cover;
    object-position: 30%;
}

/* @media (max-width: 1050px) {
    .sliderOne {
        object-fit: cover;
        object-position: 30%;
    }
} */

/* @media (max-width: 450px) {
    .sliderOne {
        object-fit: scale-down;
    }
} */

.sliderTwo {
    /* margin-top: 5vh; */
    /* min-height: 160vh; */
    position: relative;
    width: 100vw;
    object-fit: cover;
    /* object-position: 50%; */
}

/* @media (max-width: 650px) {
    .sliderTwo {
        object-fit: cover;
        object-position: 52%;
    }
}

@media (max-width: 450px) {
    .sliderTwo {
        object-fit: cover;
        object-position: 53%;
        width: 100%;
    }
} */

/* @media (min-width: 550px) and (max-width: 600px){
    .sliderTwo {
        object-fit: cover;
        object-position: 60%;
    }
} */

.chatBubble {
    position: absolute;
    top: 20%;
    right: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
	height: 10rem;
	width: 20rem;
    padding: 1rem;
    border-radius: 3rem;
    box-shadow: -0.5rem 0.5rem #666;
	background-color: lightyellow;
    font-size: 1.5rem;
}

@media (min-width: 1100px) {
    .chatBubble {
        right: 12%;
    }
}

/* @media (max-width: 950px) {
    .chatBubble {
        right: 5%;
    }
} */

@media (max-width: 960px) {
    .chatBubble {
        display: none;
    }
}

.chatBubbleTri:before {
	content: ' ';
	position: absolute;
	left: -0.5rem;
	bottom: -3.5rem;
	height: 0;
	width: 0;
	border: 3.2rem solid;
	border-color: transparent transparent transparent #666;
}

.chatBubbleTri:after {
	content: ' ';
	position: absolute;
	bottom: -19%;
	left: 0;
	width: 0;
	height: 0;	
    border: 2.2rem solid;
    border-width: 3rem;
	border-color: transparent transparent transparent lightyellow;
}

.sliderThree {
    /* object-position: 60%; */
    margin-top: -5%;
    width: 100vw;
    object-fit: cover;
    /* height: 130%; */
}

@media (max-width: 800px) {
    .sliderThree {
        object-position: 70%;
    }
}

.sliderThreeContent {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    color: white;
}

.browseLink {
    text-decoration: none;
    /* color: navy; */
}