.paymentInfo {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.paymentInfoHeader {
    margin-bottom: 2.5rem;
    margin-left: 5%;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
}

.errorMessage {
    color: red;
    font-size: 1.3rem;
}