.paymentInfo {
    display: inline-block;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}

.paymentInfoHeader {
    margin-left: 5%;
    margin-bottom: 2.5rem;
    /* border: solid black; */
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
}

.errorMessage {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.9rem;
    margin-left: 2%;
    width: 100%;
    color: red;
    font-size: 1.6rem;
}

.noErrorMessage {
    /* margin-top: -20px; */
    margin-left: 15%;
    margin-bottom: 37px;
}