.profileSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* border: solid black; */
}

.labels {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  margin-right: 0.5%;
  /* border: solid black; */
}

.profileLabel {
  flex: 1;
  margin: 5% 0;
  font-weight: 600;
  /* border: solid black; */

}

.values {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 0.5%;
  /* border: solid black; */
}

.profileValue {
  flex: 1;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin: 2.5% 0;
  width: 100%;
  /* border: solid black; */
}

.editButton {
  display: flex;
  align-items: center;
  border: none;
  /* border: solid black; */
  outline: none;
  background-color: transparent;
  font-size: 10px;
}