.cartPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bookCover {
    /* display: flex; */
    /* height: 30%; */
    width: 15%;
}