.profilePage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 100%;
    scroll-behavior: smooth;
}

.profileContainer {
    display: flex;
    flex-direction: row;
}

.sideNav {
    position: relative;
    flex: 1;
    background-color: transparent;
    margin: 0 1% 0 2%;
}

.sideNavGroup {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 3% 0;
    width: 11.8%;
    border: solid #0d3d85 0.1rem;
    border-radius: 1rem;
    background-color: white;
}

.sideNavTop {
    padding: 3%;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
    background-color: #0d3d85;
    color: white;
    word-break: break-word;
    font-size: 2.5rem;
}

.sideNavLink {
    padding: 5% 0;
    border-top: solid #244f8f 0.1rem;
    color: black;
    font-size: 1.6rem;
    text-decoration: none;
}

.profileContent {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2% 0 1%;
}

.section {
    margin: 4% 0 100vh 0;
    padding: 5% 0;
    width: 100%;
    background-color: white;
}

.profileTitle {
    font-size: 2.5rem;
    font-weight: 700;
}

.orderHistoryTitle {
    margin-bottom: 3%;
    font-size: 2.5rem;
    font-weight: 700;
}

.reviewHistoryTitle {
    margin-bottom: 3%;
    font-size: 2.5rem;
    font-weight: 700;
}

.suggestionHistoryTitle {
    margin-bottom: 3%;
    font-size: 2.5rem;
    font-weight: 700;
}

.noEntry {
    font-size: 1.8rem;
}

@media (max-width: 999px) {
    .sideNav {
        display: none;
    }
    .sideNavGroup {
        display: none;
    }
}
