.profilePage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profileContainer {
    display: flex;
    flex-direction: row;
}

.sideNav {
    flex: 1;
    /* background-color: navy; */
}

.sideBarLink {
    text-decoration: none;
    color: black;
}

.profileContent {
    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
}

.orderHistoryTitle {
    margin-top: 4%;
    font-size: 25px;
    font-weight: 700;
}

.reviewHistoryTitle {
    margin: 4% 0;
    font-size: 25px;
    font-weight: 700;
}

.suggestionHistoryTitle {
    margin: 4% 0;
    font-size: 25px;
    font-weight: 700;
}
