/* .contactPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
} */

.contactPage {
    margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  /* overflow-x: hidden; */
    position: relative;

}

.rowContainer {
    /* display: flex;
    flex-direction: row;
    width: 100vw; */
    margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  /* overflow-x: hidden; */
}

.one {
    background-image: url("../../assets/images/diette-henderson-egmEb0HgtgU-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */
    /* width: 100vw; */
    /* overflow-x: hidden; */

}

.two {
    background-image: url("../../assets/images/diette-henderson-egmEb0HgtgU-unsplash.jpg");
    background-position: center;
    background-size: cover;
        background-repeat: no-repeat;
    /* height: 100vh; */
    /* width: 100vw; */
    /* overflow-x: hidden; */

}

.sectionContact {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 4% 0 2rem 0;
    min-height: 50vh;
    /* border: solid black; */
}

.contactTitle {
    /* margin: 2% 0; */
    margin-bottom: 2%;
    font-size: 3rem;
}

.contactContent {
    /* flex: 1; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: 4rem;
    min-height: 10rem;
    /* min-height: 20vh; */
    width: 35rem;
    /* min-width: 30%; */
    background-color: rgb(236, 250, 255);
    border: solid black;
    font-size: 1.5rem;
}

.iconBackground {
    position: absolute;
    top: -35%;
    /* left: 50%; */
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 5%; */
    height: 5rem; 
    width: 5rem;
    /* height: 10vh;  */
    /* margin: 0 0 -2.5% 0; */
    /* margin: -35% 0 0 0; */
    border: none;
    /* background-color: rgba(153, 151, 151, 0.616); */
    background-color: navy;
    /* border: solid black; */
    border-radius: 50%;
    transition: ease 0.3s;
}

.sectionFAQ {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 2rem 0 4% 0;
    min-height: 50vh;
    /* border: solid black; */
}

.faqTitle {
    margin-bottom: 2%;
    font-size: 3rem;
}

.faqContent {
    flex: 1;
    /* margin-bottom: 5%; */
    width: 60%;
}
