.contactPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.sectionContact {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 0;
    min-height: 50vh;
    /* border: solid black; */
}

.contactTitle {
    font-size: 3rem;
}

.iconBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    height: 5rem; 
    width: 5rem;
    border: none;
    background-color: #0d3d85;
    border-radius: 50%;
    transition: ease 0.3s;
}

.firstLine {
    font-size: 1.7rem;
}

.contactLine {
    width: 100%;
    text-align: left;
    /* border: solid black; */
}

.hoursLine {
    margin-top: -1.5rem;
}

.contactLabels {
    font-weight: 700;
}

.sectionFAQ {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4% 0;
    min-height: 50vh;
    /* border: solid black; */
}

.faqTitle {
    font-size: 3rem;
}

.faqContent {
    width: 60%;
}

@media (max-width: 499px) {
    .sectionContact {
        width: 80%;
    }
    .contactLine {
        margin: 4% 0;
    }
    .faqContent {
        width: 80%;
    }
    .hoursLine {
        margin-top: 0;
    }
}
