.readerReviewName {
  flex: 1;
  text-align: left;
  margin-left: 2%;
  font-size: 1.5rem;
  font-weight: 500;
}

.readerReviewComment {
  flex: 3;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-left: 2%;
  height: 6.6rem;
  overflow: hidden;
  white-space: pre-line;
  text-align: left;
  font-size: 1.75rem;
  transition: "ease 0.3s";
}

.readerReviewComment:hover {
    opacity: 0.8;
    cursor: pointer;
}

.readerReviewCommentExpanded {
  flex: 3;
  margin-left: 2%;
  white-space: pre-line;
  text-align: left;
  font-size: 1.75rem;
  transition: "ease 0.3s";
}

.readerReviewCommentExpanded:hover {
    opacity: 0.8;
    cursor: pointer;
}

.readerReviewDate {
  flex: 1;
  text-align: right;
  font-size: 1.5rem;
}