.readerReviewName {
  flex: 1;
  text-align: left;
  margin-left: 2%;
  font-size: 1.5rem;
  font-weight: 500;
}

.readerReviewComment {
  flex: 3;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-left: 2%;
  height: 6.6rem;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  white-space: pre-line;
  text-align: left;
  font-size: 1.75rem;
  transition: "ease 0.3s";
  /* background: linear-gradient(transparent 30%, red); */
  /* filter: blur(1px); */
  /* box-shadow: 0 10px 0 20px rgba(0, 0, 0, 0.1); */
}

/* .readerReviewComment:before {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: inline-block;
  border: solid purple;
  height: 100%;
  width: 53.1rem;
  width: 47%;
  background: linear-gradient(transparent 60%, white);
} */

.readerReviewComment:hover {
    opacity: 0.8;
    cursor: pointer;
}

.readerReviewCommentExpanded {
  flex: 3;
  margin-left: 2%;
  white-space: pre-line;
  text-align: left;
  font-size: 1.75rem;
  transition: "ease 0.3s";
}

.readerReviewCommentExpanded:hover {
    opacity: 0.8;
    cursor: pointer;
}

.readerReviewDate {
  flex: 1;
  text-align: right;
  font-size: 1.5rem;
}

@media (max-width: 499px) {
  .readerReviewComment {
    /* flex: 2; */
    /* -webkit-line-clamp: 5; */
    /* -webkit-box-orient: vertical; */
  /* overflow: hidden; */
    align-self: flex-start;
    margin: 5% 0 0 1%;
    /* height: 3rem; */
    /* height: 100px; */
    /* border: solid green; */
    /* background: linear-gradient(180deg, transparent 10%, red); */
  /* background: linear-gradient(transparent 10%, white); */
  }
  /* .readerReviewComment:before { */
  /* content: ""; */
  /* position: absolute; */
  /* bottom: 4.2rem; */
  /* position: absolute; */
  /* top: 45%; */
  /* top: 45%; */
  /* left: 3%; */
  /* bottom: 20%; */
  /* z-index: 1; */
  /* display: inline-block; */
  /* border: solid purple 1px;  */
  /* height: inherit; */
  /* height: 52px; */
  /* width: 53.1rem; */
  /* width: 93%; */
  /* width: inherit; */
  /* background: transparent; */
  /* background: linear-gradient(transparent 10%, white); */
  /* } */
  .readerReviewCommentExpanded {
    align-self: flex-start;
    margin: 5% 0;
    /* height: 100%; */
  }
  /* .readerReviewDate { */
    /* display: flex; */
    /* align-items: end; */
    /* border: solid black; */
  /* } */
}