.bookCover {
    width: 100%;
}

.bookTitle {
    margin: 1px 0 0 0;
    font-size: 15px;
}

.bookAuthor {
    margin: 1px 0 0 0;
    font-size: 12px;
}

.bookAuthorBy {
    font-weight: 500;
}


.bookAuthorName {
    font-weight: 800;
    color: green;
}

.bookType {
    margin: 1px 0 0 0;
    font-size: 12px;
}

.bookTypeIcon {
    vertical-align: middle;
    color: grey;
}

.bookTypeWord {
    vertical-align: middle;
    color: grey;
}

.bookRating {
    margin: 1px 0 0 0;

}

.bookPrice {
    font-size: 12px;
    margin: 1px 0 0 0;

}