/* .book {
    position: relative;
} */

.bookCover {
    width: 100%;
}

.bookRibbon {
    position: absolute;
    top: 3%; 
    left: -10%;
    height: 5%;
    width: 40%;
    border-radius: 5%;
    background-color: #ff4c4c;
    color: white;
    font-size: 1.5rem;
    transform: rotate(-45deg);
}

.bookTitle {
    margin: 0.1rem 0.5rem 0 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.bookAuthor {
    margin-top: 0.1rem;
    font-size: 1.2rem;
}

.bookAuthorBy {
    font-weight: 500;
}


.bookAuthorName {
    color: #007338;
    font-weight: 800;
}

.bookType {
    margin-top: 0.1rem;
    font-size: 1.2rem;
}

.bookTypeIcon {
    vertical-align: middle;
    color: grey;
}

.bookTypeWord {
    vertical-align: middle;
    color: grey;
}

.bookRating {
    margin-top: 0.1rem;
}

.bookPrice {
    margin: 0.1rem 0 0.5rem 0;
    font-size: 1.2rem;
}

.bookPriceStrike {
    margin: 0.1rem 0;
    color: red;
    text-decoration: line-through;
    font-size: 1.2rem;
}

.bookStock {
    margin: 0.5rem 0;
    width: 100%;
    color: #d60000;
    font-size: 1.3rem;
}

.bookAction {
    position: absolute;
    top: 50%; 
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}

.iconBackground {
    position: relative;
    margin: 2rem;
    height: 30%; 
    /* height: 7.5rem;  */
    width: 30%;
    /* width: 7.5rem; */
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    transition: ease 0.3s;
}

.iconBackground:hover {
    cursor: pointer;
    transform: scale(1.25);
}