.productPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    /* border: solid black; */
}

.bookCover {
    /* height: auto; */
    /* width: 70%; */
    /* min-width: 50%; */
    width: 60%;
    margin: 10vh 0;
}

.accordion {
    margin: auto;
    width: 60%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media (max-width: 499px) {
    .bookCover {
        margin-bottom: 0;
        width: 80%;
    }
    .accordion {
        width: 80%;
    }
}