.productPage {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid black;
}

.bookCover {
    /* height: auto; */
    /* width: 70%; */
    /* min-width: 50%; */
    width: 60%;
    margin: 10vh 0;
}

.accordion {
  width: 60%;
}

.reviews {
    margin-bottom: 2%;
}

