.forgotPasswordPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.forgotPasswordContent {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: solid black; */
}

.link {
    text-decoration: none;
}

.forgotPW {
    margin: 3% 0;
    font-size: 1.8rem;
}

.enterEmail {
    margin-top: 7%;
    font-size: 1.5rem;
}

.errorMessage {
    color: red;
    font-size: 1.3rem;
}

.signUpContent {
    margin-bottom: 5%;    
}

.signUpText {
    font-size: 1.4rem;
}

/* .linkSentContent { */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* min-height: 15rem;  */
/* } */

.linkSent {
    margin: 7rem 0 10rem 0;
    font-size: 1.6rem;
}