.checkoutPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.checkoutHeader {
    position: relative;
    width: 100%;
    align-items: center;
    font-size: 1.6rem;
}

.checkoutForm {
    display: flex;
    flex-direction: row;
}

.shippingInfoSection {
    margin-top: 3rem;
}

.paymentInfoSection {
    margin: 3rem 0 2rem 0;
}

.buttonLink {
    text-decoration: none;
}