.checkoutPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.checkoutHeader {
    position: relative;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
}

.checkoutForm {
    display: flex;
    flex-direction: row;
}

.shippingInfoSection {
    margin-top: 3rem;
}

.paymentInfoSection {
    margin: 3rem 0 2rem 0;
}

.buttonLink {
    float: right;
    margin: -2.5rem 3rem 0 0;
    text-decoration: none;
}

.processing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

@media (max-width: 620px) {
    .checkoutForm {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 499px) {
    .checkoutHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        font-size: 1.6rem;
    }
    .buttonLink {
        float: none;
        margin: 2rem 0 0 0;
    }
}