.readerReviews {
  /* display: block; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
  width: 80%;
  border-top: solid #adadad 1px;
  border-left: solid #adadad 1px;
  border-right: solid #adadad 1px;
  /* width: 100%; */
  /* border: solid black; */
  /* margin: auto; */
}

.bookInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookTitle {
    margin: 2% 0;
    font-size: 1.7rem;
    font-weight: 600;
}

.bookAuthor {
    margin: 2% 0;
    font-size: 1.4rem;
}

.readerReviewComment {
  flex: 3;
  text-align: left;
  margin-left: 2%;
  height: 6.6rem;
  overflow: hidden;
  white-space: pre-line;
  font-size: 1.5rem;
  transition: "ease 0.3s";
}

.readerReviewComment:hover {
    opacity: 0.8;
    cursor: pointer;
}

.readerReviewCommentExpanded {
  flex: 3;
  text-align: left;
  margin-left: 2%;
  overflow-wrap: break-word;
  white-space: pre-line;
  font-size: 1.5rem;
  transition: "ease 0.2s";
}

.readerReviewCommentExpanded:hover {
    opacity: 0.8;
    cursor: pointer;
}

.readerReviewDate {
  flex: 0.5;
  text-align: right;
  font-size: 1.5rem;
  /* padding: 0 -25%; */
  /* border: solid black; */
}

.readerReviewIcons {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
}

.editButton {
  border: none;
  outline: none;
  background-color: transparent;
}