.suggestPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.pageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 0 3% 0;
}

.suggestTitle {
    /* margin: 1% 0; */
    font-size: 3rem;
}

.suggestContent {
    margin: 1% 0;
    font-size: 1.5rem;
}

.suggestForm {
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    width: 100%;
}

.confirmation {
    margin-top: 2rem;
}

.browseLink {
    color: navy;
    text-decoration: none;
}

.bookCover {
    margin-bottom: -0.3rem;
    width: 10vw;
}

@media (max-width: 500px) {
    .bookCover {
    margin-bottom: -0.3rem;
    width: 50vw;
    }
}

.bookList {
    justify-content: center;
    align-items: center;
    margin-top: 1rem 0 3rem 0;
    width: 40%;
}
