.leftSection {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* border: solid black; */
}

.headerLink {
    text-decoration: none;
    color: black;
}

.title {
    font-family: 'Bangers', 'Luxurious Roman';
    font-size: 5rem;
    color: black;
}

.rightSection {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.7rem;
    /* border: solid black; */
}

.greeting {
    margin-right: 1rem;
}

.cartLength {
    vertical-align: middle;
}

.navLink {
    margin: 2rem;
    color: white;
    font-size: 1.7rem;
    text-decoration: none;
    transition: ease 1s;
}

.navLink:hover {
    color: black;
    cursor: pointer;
}

.activeNavLink {
    vertical-align: middle;
    margin: 0 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: ease 1s;
}

.activeNavLink:hover {
    cursor: pointer;
}

.expandedNavLink {
    text-decoration: none;
}

@media (max-width: 700px) {
    .leftSection {
        flex: 3;
    }

    .greeting {
        display: none;
    }
}

@media (max-width: 500px) {
    .leftSection {
        align-items: start;
    }

    .title {
        display: flex;
        text-align: left;
    }

    .navLink {
        display: none;
    }
}

@media (max-width: 335px) {
    .leftSection {
        flex: 1;
    }

    .title {
        font-size: 4rem;
    }
}