.logo {
    vertical-align: middle;
}

.title {
    font-family: 'Bangers', 'Luxurious Roman';
    font-size: 40px;
    vertical-align: middle;
    margin-left: 10px;
}

.navlink {
    margin: 20px;
}

