.suggestion {
  /* display: block; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
  width: 80%;
  border-top: solid #adadad 0.1rem;
  border-left: solid #adadad 0.1rem;
  border-right: solid #adadad 0.1rem;
  /* width: 100%; */
  /* border: solid black; */
  /* margin: auto; */
}

.bookInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookTitle {
    margin: 2% 0;
    font-size: 1.7rem;
    font-weight: 600;
}

.bookAuthor {
    margin: 2% 0;
  font-size: 1.4rem;
}

.suggestionComment {
  flex: 3;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-left: 2%;
  height: 6.6rem;
  overflow: hidden;
  white-space: pre-line;
  text-align: left;
  font-size: 1.75rem;
  transition: "ease 0.3s";
}

.suggestionComment:hover {
    opacity: 0.8;
    cursor: pointer;
}

.suggestionCommentExpanded {
  flex: 3;
  margin-left: 2%;
  white-space: pre-line;
  text-align: left;
  font-size: 1.75rem;
  transition: "ease 0.3s";
}

.suggestionCommentExpanded:hover {
    opacity: 0.8;
    cursor: pointer;
}

.suggestionDate {
  flex: 0.5;
  text-align: right;
  font-size: 1.5rem;
  /* padding: 0 -25%; */
  /* border: solid black; */
}

.suggestionIcons {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
}

.editButton {
  border: none;
  outline: none;
  background-color: transparent;
}

@media (max-width: 499px) {
  .suggestionComment {
    align-self: flex-start;
    margin: 5% 0 0 1%;
  }
  .suggestionCommentExpanded {
    align-self: flex-start;
    margin: 5% 0 0 1%;
  }
  .suggestionIcons {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 0;
    /* border: solid black; */
  }
  .editButton {
    margin-left: -5%;
  }
}