.readerReviews {
  /* display: block; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
  width: 80%;
  border-top: solid #adadad 1px;
  border-left: solid #adadad 1px;
  border-right: solid #adadad 1px;
  /* width: 100%; */
  /* border: solid black; */
  /* margin: auto; */
}

.bookInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookTitle {
    margin: 2% 0;
    font-size: 18px;
    font-weight: 600;
}

.bookAuthor {
    margin: 2% 0;
}

.suggestionComment {
  flex: 3;
  text-align: left;
  margin-left: 2%;
}

.suggestionDate {
  flex: 0.5;
  text-align: right;
  /* padding: 0 -25%; */
  /* border: solid black; */
}

.suggestionIcons {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
}

.editButton {
  border: none;
  outline: none;
  background-color: transparent;
}