.orderSummary {
    display: block;
    align-items: center;
}

.orderSummaryHeader {
    margin: 1.5rem 0;
    /* border: solid black; */
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.orderSummaryCosts {
    display: block;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 1rem;
}

.costLine {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    font-size: 1.4rem;
}

.costLineText {
    text-align: left;
}

.totalCost {
    font-weight: 800;
    color: rgb(201, 1, 1);
}

/* .costLabel {
    text-align: left;
}

.costLabel > div {
    margin: 10px 0;
}

.costs {
    text-align: right;
}

.costs > div {
    margin: 10px 0;
} */