.bookDetails {
  margin: 10% 0;
}

.bookTitle {
    margin: 0 0.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.bookAuthor {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.bookAuthorBy {
    font-weight: 500;
}


.bookAuthorName {
    color: green;
    font-weight: 800;
}

.bookType {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.bookTypeIcon {
    vertical-align: middle;
    color: grey;
}

.bookTypeWord {
    vertical-align: middle;
    color: grey;
}

.bookRating {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.bookPrice {
    margin: 0.5rem 0 1rem 0;
    font-size: 1.5rem;
}

.bookPriceStrike {
    margin: 0.1rem 0;
    color: red;
    text-decoration: line-through;
    font-size: 1.2rem;
}

.bookStock {
    margin-top: 1rem;
    color: red;
    font-size: 1.3rem;
}