.signUpPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    vertical-align: middle;
    margin-left: 10px;
    font-family: 'Bangers', 'Luxurious Roman';
    font-size: 40px;
    color: black;
}

.homeLink {
    text-decoration: none;
}

.passwordError {
    margin-top: -20px;
    margin-left: -40%;
    margin-bottom: 19px;
    font-size: 16px;
    color: red;

}

.passwordNoError {
    margin-top: -20px;
    margin-left: -40%;
    margin-bottom: 37px;

}