@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Luxurious+Roman&family=PT+Serif&family=Satisfy&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Roboto', 
    'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}