.shippingInfo {
    display: inline-block;
}

.shippingInfoHeader {
    margin-bottom: 15px;
    margin-left: 5%;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
}

.shippingInputs {
    display: inline;
    align-items: left;
}