.homePage {
    display: flex;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.imageOne {
    /* height: 100vh; */
    /* width: 100vw; */
    width: 100vw;
    height: 200vh;
    display: flex;
    align-items: center;
    background-image: url("../../assets/images/diette-henderson-egmEb0HgtgU-unsplash.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
    background-size: cover;
    /* height: 100vh; */
    /* min-height: 100%; */
    width: 100vw;
    /* max-width: 100%; */
    /* overflow-x: hidden; */
    /* object-fit: cover; */
    /* object-position: 70%; */
}

.imageTwo {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../../assets/images/greenlights-slider.jpeg");
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
    background-size: cover;
    /* min-height: 100vh; */
    width: 100vw;
    /* max-width: 100%; */
    /* overflow-x: hidden; */
}

.imageThree {
    background-image: url("../../assets/images/alexei-maridashvili-gqk2hoqGAL0-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: cover; */
    height: 100vh;
    width: 100vw;
    /* max-width: 100%; */
    overflow-x: hidden;
}

.sliderOne {
    z-index: -1;
    /* flex: 1; */
    /* margin-top: -5%; */
    min-height: 100vh;
    /* height: 150vh; */
    width: 100vw;
    /* width: 100vw; */
    object-fit: cover;
    object-position: 30%;
}

.sliderOneText {
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 5%;
    /* right: 12%; */
    width: 50rem;
    /* width: 30rem; */
    font-family: 'Bebas Neue';
    /* border: solid black; */
}

.firstLine {
    color: red;
    font-size: 8rem;
}

/* .holidaySale {
      text-shadow:
    -0.4rem -0.4rem 0 #000,
     0   -0.4rem 0 #000,
     0.4rem -0.4rem 0 #000,
     0.4rem  0   0 #000,
     0.4rem  0.4rem 0 #000,
     0    0.4rem 0 #000,
    -0.4rem  0.4rem 0 #000,
    -0.4rem  0   0 #000;
} */

.secondLine {
    color: black;
    font-size: 5rem;
}

.sliderTwo {
    min-height: 100vh;
    position: relative;
    width: 100vw;
    object-fit: cover;
    /* object-position: 50%; */
}

.sliderTwoText {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10rem;
    width: 20rem;
    border-radius: 3rem;
    background-color: transparent;
    /* background-color: lightyellow; */
    color: firebrick;
    font-family: 'PT Serif';
    font-size: 6rem;
}

.sliderTwoQuote {
    position: absolute;
    top: 20%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
	width: 30rem;
    color: white;
    font-family: 'PT Serif';
}

.quoteText {
    text-align: justify;
    text-justify: inter-word;
    font-size: 2.5rem;
}

.quoteBy {
    margin-top: 2rem;
    width: 100%;
    text-align: right;
    font-size: 1.5rem;
}

.newIcon {
    display: none;
}

.chatBubble {
    position: absolute;
    top: 20%;
    right: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
	height: 10rem;
	width: 20rem;
    padding: 1rem;
    border-radius: 3rem;
    box-shadow: -0.5rem 0.5rem #666;
	background-color: lightyellow;
    font-family: 'PT Serif';
    font-size: 1.5rem;
}

.chatBubbleTri:before {
	content: ' ';
	position: absolute;
	left: -0.5rem;
	bottom: -3.5rem;
	height: 0;
	width: 0;
	border: 3.2rem solid;
	border-color: transparent transparent transparent #666;
}

.chatBubbleTri:after {
	content: ' ';
	position: absolute;
	bottom: -19%;
	left: 0;
	width: 0;
	height: 0;	
    border: 2.2rem solid;
    border-width: 3rem;
	border-color: transparent transparent transparent lightyellow;
}

.sliderThree {
    /* object-position: 60%; */
    /* margin-top: -5%; */
    min-height: 100vh;
    width: 100vw;
    object-fit: cover;
    /* height: 130%; */
}

.sliderThreeText {
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    width: 100%;
    color: white;
    font-family: 'PT Serif';
    font-size: 3.5rem;
}

.sliderThreeContent {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    color: white;
}

.link {
    text-decoration: none;
    /* color: navy; */
}

@media (min-width: 1100px) {
    .chatBubble {
        right: 12%;
    }
    /* .sliderOneText {
        top: 25%;
        right: 5%;
    } */
}

@media (max-width: 960px) {
    .imageOne {
        background-size: cover;
        background-position: 40%;
    }
    .sliderOneText {
        top: 15%;
        right: 7%;
        width: 15rem;
    }
    .firstLine {
        font-size: 5rem;
    }
    .secondLine {
        font-size: 3rem;
    }
    .imageTwo {
        background-size: cover;
    /* background-position: 5%; */
    }
    .sliderTwoText {
        display: none;
    }
    .sliderTwoQuote {
        display: none;
    }
    .newIcon {
        position: absolute;
        top: 25%;
        left: 40%;
        display: flex;
        width: 10rem;
        transform: translate(-50%, -50%);
    }
    .chatBubble {
        display: none;
    }
    /* .imageThree {
        background-size: cover;
    } */
}

@media (max-width: 800px) {
    .sliderThree {
        object-position: 70%;
    }
    .sliderThreeText {
        bottom: -18%;
        left: 50%;
    }
}

@media (max-width: 630px) {
    .sliderOneText {
        top: 2%;
        right: 5%;
        width: 20rem;
        font-size: 1.5rem;
    }
    .firstLine {
        font-size: 2.5rem;
    }
    .secondLine {
        font-size: 2rem;
    }
}

@media (max-width: 550px) {
    .newIcon {
        top: 27%;
        left: 35%;
        font-size: 2rem;
    }
    .sliderThreeText {
        font-size: 2.5rem;
    }
}

/* @media (max-width: 450px) {
    .imageTwo {
        background-position: 54%;
    }
    .imageThree {
        background-position: 65%;
    }
} */