.errorPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media (max-width: 499px) {
    .errorImage {
        width: 100%;
    }
}
